################################################################################
# Bu .gitignore dosyası Microsoft(R) Visual Studio tarafından otomatik olarak oluşturulmuştur.
################################################################################

*.suo
CAS/.vs/CAS/v16/.suo
CAS/CAS/obj/Debug/CAS.csproj.AssemblyReference.cache
CAS/CAS/obj/Debug/DesignTimeResolveAssemblyReferences.cache
CAS/CAS/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
